body {
    text-align: center;
    background-size: cover;
    font-family: ;
    background-image: url();
}

.color, #level {
    width: 300px;
    height: 300px;
    display: inline-block;
    align-content: center;
    border : 5px solid black;
    box-shadow: 10px 10px 10px black;
}

.color:hover, button {
    cursor: pointer;
}

.green {
    margin: 0 0 0 0;
    background-color: green;
    border-top-left-radius: 300px;
}

.red {
    margin: 0 0 0 0;
    background-color: red;
    border-top-right-radius: 300px;
}

.blue {
    margin: 0 0 0 0;
    background-color: blue;
    border-bottom-left-radius: 300px;
}

.yellow {
    margin: 0 0 0 0;
    background-color: yellow;
    border-bottom-right-radius: 300px;
}

button {
    margin: 0 0 0 0;
    text-align: center;
    border-radius: 15px;
    border: 3px solid black;
}

#level {
    width: 50px;
    height: 50px;
    font-size: large;
    background-color: pink;
    border: 3px solid black;
}

.green-active {
    background-color: lightgreen;
}

.red-active {
    background-color: tomato;
}

.blue-active {
    background-color: lightblue;
}

.yellow-active {
    background-color: lightyellow;
}

.rules-button {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    background: linear-gradient(#780202, #023D77);
    font-family: ;
}

#rules {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
}

#rules h1 {
    padding: 15px;
    font-size: 30px;
} 

.ul-rule {
    font-size: 17px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.li-rule {
    padding-bottom: 30px;
}

#rules-text {
    margin: auto;
    width: 700px;
    height: 300px;
    line-height: 150%;
    border-radius: 35px;
    background-color: white;
    box-shadow: 0 0 10px 5px black;
}

#rules-footer {
    text-align: center;
}

.disable {
    pointer-events: none;
}