body {
    text-align: center;
    background-size: cover;
    background-image: url();
}

.color {
    width: 300px;
    height: 300px;
    display: inline-block;
    align-content: center;
    border : 5px solid black;
    box-shadow: 30px 10px 10px black;
}

#level {
    width: 300px;
    height: 300px;
    display: inline-block;
    align-content: center;
    border : 5px solid black;
    box-shadow: 15px 10px 10px black;
}

.color:hover, button {
    cursor: pointer;
}

.green {
    margin: 0 0 0 0;
    background-color: green;
    border-top-left-radius: 300px;
}

.red {
    margin: 0 0 0 0;
    background-color: red;
    border-top-right-radius: 300px;
}

.blue {
    margin: 0 0 0 0;
    background-color: blue;
    border-bottom-left-radius: 300px;
}

.yellow {
    margin: 0 0 0 0;
    background-color: yellow;
    border-bottom-right-radius: 300px;
}

button {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    border: 3px solid black;
    margin: 10px 0px 15px 0px;
}

.play-button {
    font-size: 30px;
    margin-right: 35px !important;
    font-family: 'Road Rage', cursive;
}

.reset-button {
    font-size: 30px;
    margin-left: 35px !important;
    font-family: 'Road Rage', cursive;
}

#level {
    width: 50px;
    height: 50px;
    font-size: large;
    display: inline-grid;
    background-color: white;
    border: 3px solid black;
}

.green-active {
    background-color: lightgreen;
}

.red-active {
    background-color: tomato;
}

.blue-active {
    background-color: lightblue;
}

.yellow-active {
    background-color: lightyellow;
}

.rules-button {
    color: black;
    cursor: pointer;
    font-size: 15px;
    background: white;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
}

.rules-button:hover {
    color: white;
    background: black;
}

#rules {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
}

#rules h1 {
    font-size: 50px;
    margin-top: -30px;
} 

.ul-rule {
    font-size: 17px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.li-rule {
    padding-bottom: 10px;
}

#rules-text {
    margin: 150px auto;
    width: 700px;
    height: 300px;
    line-height: 150%;
    border-radius: 35px;
    background-color: white;
    box-shadow: 0 0 10px 5px black;
}

#rules-footer {
    text-align: center;
}

.disable {
    pointer-events: none;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.exit-button {
    color: black;
    font-size: 10px;
    margin-left: 575px;
    background: white;
}

.exit-button:hover {
    color: white;
    background: black;
}

.buttons {
    margin-top: -55px;
}

.play-button:hover {
    color: white;
    background: black;
}

.reset-button:hover {
    color: white;
    background: black;
}

h1 {
    font-family: 'Road Rage', cursive;
}

.title {
    z-index: 1;
    font-size: 75px;
    margin-left: 75px;
    margin-bottom: -55px;
}